<div class="highlight-block">
  <%= form_for(@item) do |f| %>
    <div class="form-group">
      <label>标题</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>类型</label>
      <%= f.select :category, HomepageItem::CATEGORIES, {}, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>位置</label>
      <%= f.text_field :sequence, class: "form-control", placeholder: "大于1的正整数,系统会根据此顺序显示条目,例如位置为1的链接将会显示在第一位,以此类推" %>
    </div>

    <div class="form-group">
      <label>链接地址</label>
      <%= f.text_field :url, class: "form-control", placeholder: "以 http:// 开头" %>
    </div>

    <div class="form-group">
      <label>
        <%= f.check_box :view_more %>
        此项为"更多.."链接
      </label>
    </div>

    <div>
      <%= submit_tag "提交", :class => "btn btn-primary", data: { disable_with: "请等待..." } %>  <%= link_to '返回', posts_path, :class => "btn btn-default" %>
    </div>
  <% end -%>
</div>
