<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to brand_name, root_path, :class => "navbar-brand" %>
    </div>

     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=<%= "selected" if controller?("home") %>><%= link_to t("menus.homepage"), root_path %></li>

        <li class=<%= "selected" if controller?("exercises") %>><%= link_to t("menus.exercises"), exercises_path %></li>

        <li class=<%= "selected" if controller?("topics") %>><%= link_to t("menus.topics"), topics_path %></li>

        <li class=<%= "selected" if controller?("tasks") %>><%= link_to t("menus.homework"), tasks_path if user_signed_in? %></li>

        <% if current_user.try(:generalized_mentor?) -%>
          <li class="dropdown" role="presentation">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">学长专区<span class="caret"></span></a>

            <ul class="dropdown-menu">
              <% if can? :read, Post -%>
                <li><%= link_to '办公区', posts_path %></li>
              <% end -%>

              <% if can? :read, User -%>
                <li><%= link_to '人员资料库', users_path %></li>
              <% end -%>

              <% if can? :unfinished, Exercise -%>
                <li><%= link_to '查卡', unfinished_exercises_path %></li>
              <% end -%>

              <% if can? :manage, Notification -%>
                <li><%= link_to '通知管理', notifications_path %></li>
              <% end -%>

              <% if can? :manage, Task -%>
                <li><%= link_to '功课管理', manage_tasks_path %></li>
              <% end -%>

              <% if can? :manage, HomepageItem -%>
                <li><%= link_to '首页管理', homepage_items_path %></li>
              <% end -%>
            </ul>
          </li>
        <% end -%>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? -%>
          <form class="navbar-form navbar-left" action=<%= exercises_url + "#content-2" %>>
            <button class="btn btn-success"><%= t("menus.new_exercise") %></button>
          </form>

          <li class=<%= "selected" if controller?("comments") %>>
            <%= link_to received_comment_text.html_safe, comments_path %>
          </li>

          <li class="dropdown t-welcome" role="presentation">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><%= "欢迎你 #{current_user.name || current_user.email} " %><span class="caret"></span></a>

            <ul class="dropdown-menu">
              <li><%= link_to "看通知", list_view_notifications_path %></li>
              <li><%= link_to "改密码", change_password_user_path(current_user) %></li>
              <li><%= link_to t("helpers.logout"), destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else -%>
          <li><%= link_to "注册", new_user_registration_path %></li>
          <li><%= link_to "登录", new_user_session_path %></li>
        <% end -%>
      </ul>
    </div>
  </div>
</nav>

