<%
  has_title ||= local_assigns[:has_title] = local_assigns.fetch(:has_title, false)
  ajax_form ||= local_assigns[:ajax_form] = local_assigns.fetch(:ajax_form, true)
  rich_editor ||= local_assigns[:rich_editor] = local_assigns.fetch(:rich_editor, false)
-%>

<div>
  <%= content_tag(:h4, "你的回复") if has_title %>
  <%= form_for(@comment, :role => "form", :remote => ajax_form) do |f| %>
    <fieldset>
      <%= f.hidden_field :commentable_id, :value => @comment.commentable.id %>
      <%= f.hidden_field :commentable_type, :value => @comment.commentable.class.name %>
      <%= f.hidden_field :replied_comment_id, :value => @comment.replied_comment_id %>

      <br>
      <%= f.text_area :content, :class => rich_editor ? "rich-editor" : "full-width", :rows => "2", :placeholder => comment_place_holder(@comment) %>
      <br>
      <%= submit_tag t("helpers.submit"), class: "btn btn-primary" %>
    </fieldset>
  <% end -%>
</div>
