<div>
  <%= form_for(@comment, :role => "form", :remote => @comment.new_record?) do |f| %>
    <fieldset>
      <%= f.hidden_field :commentable_id, :value => @comment.commentable.id %>
      <%= f.hidden_field :commentable_type, :value => @comment.commentable.class.name %>
      <%= f.hidden_field :replied_comment_id, :value => @comment.replied_comment_id %>

      <br>
      <%= f.text_area :content, :class => "full-width", :rows => "2", :placeholder => comment_place_holder(@comment) %>
      <br>
      <%= submit_tag t("helpers.submit") %>
    </fieldset>
  <% end -%>
</div>
