<%
  has_title = false unless defined?(has_title)
  remote_form = true unless defined?(remote_form)
  rich_editor = false unless defined?(rich_editor)
-%>

<div>
  <%= content_tag(:h4, "你的回复") if has_title %>
  <%= form_for(@comment, :role => "form", :remote => remote_form) do |f| %>
    <fieldset>
      <%= f.hidden_field :commentable_id, :value => @comment.commentable.id %>
      <%= f.hidden_field :commentable_type, :value => @comment.commentable.class.name %>
      <%= f.hidden_field :replied_comment_id, :value => @comment.replied_comment_id %>

      <br>
      <%= f.text_area :content, :class => rich_editor ? "rich-editor" : "full-width", :rows => "2", :placeholder => comment_place_holder(@comment) %>
      <br>
      <%= submit_tag t("helpers.submit") %>
    </fieldset>
  <% end -%>
</div>
