<table class="table table-hover">
  <tbody>
    <% if comments.present? -%>
      <% comments.each do |comment| %>
        <tr>
          <td>
            <div class="comment">
              <%= comment.author.try(:name) %> <%= I18n.l(comment.updated_at.to_date) %>
              <br>
              <%= comment.content %>
            </div>
          </td>
          <td>
            <%= link_to t("helpers.view"), comment_source_path(comment) %>
          </td>
        </tr>
      <% end %>
    <% else -%>
      <tr>
        <td colpan="4"><%= t("helpers.no_results") %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
