<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Exercise.model_name.human %></th>
      <th><%= Comment.model_name.human %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if comments.present? -%>
      <% comments.each do |comment| %>
        <% exercise = comment.exercise -%>
        <tr>
          <td>
              <%= exercise.task.try(:name) %> <%= exercise.user.try(:name) %> <%= I18n.l(exercise.date) %>
              <br>
              <br>
              <div class="content">
                <%= truncate(exercise.content).html_safe %>
              </div>
          </td>
          <td>
            <div class="comment">
              <%= comment.author.name %> <%= I18n.l(comment.updated_at.to_date) %>
              <br>
              <%= comment.content %>
            </div>
          </td>
          <td>
            <%= link_to t("helpers.view"), exercise_path(exercise) %>
          </td>
        </tr>
      <% end %>
    <% else -%>
      <tr>
        <td colpan="4"><%= t("helpers.no_results") %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
