<h1>作业</h1>

<div class="top-button-area clearfix">
  <%= link_to '发布作业', new_task_path, :class => "btn btn-primary pull-right" %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th width="200"><%= Task.human_attribute_name("name") %></th>
      <th width="100"><%= I18n.t("helpers.status") %></th>
      <th width="100"><%= I18n.t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if @tasks.present? -%>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to task.name, task_path(task) %></td>
          <td><%= task.finished_by?(current_user) ? content_tag(:span, I18n.t("helpers.finished"), :class => "alert alert-success") : content_tag(:span, I18n.t("helpers.unfinished"), :class => "alert alert-danger") %></td>
          <td>
            <%= link_to I18n.t("helpers.enter"), task_path(task) %>

            <% if can? :manage, Task -%>
              <%= link_to I18n.t("helpers.edit"), edit_task_path(task) %>
            <% end -%>
          </td>
        </tr>
      <% end %>
    <% else -%>
      <tr>
        <td colpan="4"><%= t("helpers.no_results") %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
