<h1 class="page-title"><%= @task.name %></h1>

<fieldset>
  <legend><%= @task.description %></legend>

  <div>
    <h3>我的回答</h3>
    <% if @exercise.new_record? %>
      <%= form_for(@exercise) do |f| %>
        <%= f.hidden_field :task_id, :value => @task.id %>
        <label>日期</label>
        <%= f.text_field :date, :class => "js-date-field" %>
        <label>内容</label>
        <%= f.text_area :content, :class => "rich-editor" %>
        <br>
        <%= submit_tag "提交" %>
      <% end -%>
    <% else -%>
      <%= @exercise.content %>
      <%= link_to I18n.t("helpers.edit"), edit_exercise_path(@exercise) %>
    <% end -%>
  </div>

  <div class="others-exercises">
    <% if @task.exercises.present? -%>
      <%= render :partial => "exercises/list", locals: { exercises: @task.exercises } %>
    <% else -%>
      <div class="well no-result">
        <%= t("helpers.no_results") %>
      </div>
    <% end -%>
  </div>
</fieldset>
