<div class="two-columns students">
  <%= form_for(@student) do |f| %>
    <div class="left-column">
      <label>昵称</label>
      <p><%= f.text_field :name, :class => "form-control" %></p>

      <label>日记地址</label>
      <p><%= f.text_field :exercise_url %></p>

      <label>部门</label>
      <p><%= f.select :group, Student::GROUPS %></p>

      <label>活跃度</label>
      <p><%= f.select :level, Student::LEVELS %></p>
    </div>

    <div class="right-column">
      <label>QQ</label>
      <p><%= f.text_field :qq %></p>

      <label>电话</label>
      <p><%= f.text_field :phone_number %></p>

      <label>地址</label>
      <p><%= f.text_field :address %></p>

      <label>性别</label>
      <p><%= f.select :gender, Student::GENDER %></p>

      <label>年龄</label>
      <p><%= f.text_field :age %></p>

      <label>职业</label>
      <p><%= f.text_field :career %></p>

      <label>已婚</label>
      <p><%= f.select :marriage, [["是", true], ["否", false]] %></p>
    </div>

    <div class="clearfix"></div>

    <div class="comment">
      <label>备注</label>
      <p><%= f.text_area :comment, :class => "rich-editor" %></p>
    </div>

    <%= submit_tag "提交", :class => "btn btn-primary" %>  <%= link_to '返回', students_path, :class => "btn btn-default" %>
  <% end -%>
</div>
