<div class="student-title">
  <h2><%= @student.name %></h2>
  <%= link_to('编辑', edit_student_path(@student), :class => "btn btn-primary") %>
</div>

<div class="two-columns students">
  <div class="left-column">
    <label>日记地址</label>
    <p><%= @student.exercise_url %></p>

    <label>部门</label>
    <p><%= @student.group %></p>

    <label>活跃度</label>
    <p><%= @student.level %></p>
  </div>

  <div class="right-column">
    <label>QQ</label>
    <p><%= @student.qq %></p>

    <label>电话</label>
    <p><%= @student.phone_number %></p>

    <label>地址</label>
    <p><%= @student.address %></p>

    <label>性别</label>
    <p><%= @student.gender %></p>

    <label>年龄</label>
    <p><%= @student.age %></p>

    <label>职业</label>
    <p><%= @student.career %></p>

    <label>已婚</label>
    <p><%= @student.marriage ? "是" : "否" %></p>
  </div>

  <div class="clearfix"></div>

  <div class="well">
    <%= sanitize @student.comment %>
  </div>

</div>
