<!--FANCY BOX-->
	<script type="text/javascript">
		$(document).ready(function() {
			$("a#fancybox").fancybox();
		});
	</script>
<!--FANCY BOX-->

<div id="body-wrapper" class="clearfix"><!--start body-wrapper-->
	<div style="padding-top:40px;" class="slider-wrapper theme-default">
		<div id="slider" class="nivoSlider">
		  <%= image_tag(asset_path("slide1.jpeg"), :style => "width: 960px; height: 310px;") %>
		  <%= image_tag(asset_path("slide2.jpeg")) %>
		</div>
    </div>

	<div class="box">
		<h1>近期活动</h1>
    </div>

	<div class="one_fourth"><!--start top half content-->
		<h3>免费获赠《正见》、《故道白云》以及给父母的健康大礼！</h3>
		<p>我们在慢慢长大，爸妈却在渐渐衰老。看着他们的斑驳的白发、额头眼角的皱纹、不再挺拔的背影，很心痛有木有！看着他们被大病小病各种病折磨，自己却一点力都使不上，很无奈有木有！咱不想“子欲养而亲不待”了有木有！机会来啦！讲述一件你和家人之间很感动、很温馨的事，就可以免费获得大中医赠书，以及来自上古传承的神奇练筯法!</p>
	</div>
	<div class="one_fourth">
		<div class="fancy">
		  <a id="fancybox" href=<%= asset_path("activity-1-1.jpeg") %>>
		    <%= image_tag(asset_path("activity-1.jpeg")) %>
      </a>
    </div>
	</div>
	<div class="one_fourth">
		<div class="fancy"><a id="fancybox" href=<%= asset_path("activity-1-2.jpeg") %>>
		  <%= image_tag(asset_path("activity-2.jpeg")) %>
		</a></div>
	</div>
	<div class="one_fourth column-last">
		<div class="fancy"><a id="fancybox" href="images/210-150-3.png">
		  <%= image_tag(asset_path("activity-3.jpeg")) %>
		</a></div>
	</div><!--end top half content-->

	<div class="clear"></div>

	<div class="one_fourth">
		<h3>一、获赠条件？木有苛刻的条件！</h3>
		<p>心疼父母的人都可以来啦！尤其是父母的腰啊背啊腿啊不太舒服的身上带各种病儿的，只要您有心给父母按摩尽孝，大中医就会免费提供按摩法供大家学习，图文并茂简单易上手哦！
    </p>
	</div>
	<div class="one_fourth">
		<h3>二、参加费用？木有费用！</h3>
		<p>大中医承诺永远免费不涉金钱，并且还超级欣赏孝顺父母的朋友。自本日起按照要求参与活动、报名成功的前108位同学，将获得大中医赠送的《正见》《故道白云》和《大中医古传炼筋法》，身体健康的同时，精神上的受益也是杠杠滴！</p>
	</div>
	<div class="one_fourth">
		<h3>三、没挤进前108位，肿么办啊？别担心！</h3>
		<p>书可能送完了，但是健康方法大中医照教！首先会送您《大中医古传炼筋法》电子版！如果您在实践过程中有任何问题，大中医义工会为您提供持续的咨询服务。您还有获赠《西藏生死书》的机会！</p>
	</div>
	<div class="one_fourth column-last">
		<h3>四、如何报名参加活动？流程来啦！</h3>
		<p>1.说说您和父母之间有感触的事情，无论是说故事还是传照片，只要真情实感！<点击直达>
    2.若您同时也愿意为父母尽孝按摩，请在报名帖里回复故事/照片的链接报名。<点击直达>
    3.按照上述要求申请的前108位同学将获得本次活动的两本赠书以及《大中医古传炼筋法》一册，我们的义工将会跟进与您豆油确认。</p>
	</div>

  <div class="clear"></div>

</div><!--end-body wrapper-->

<!--Nivo Slider-->
<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider();
});
</script>
<!--Nivo Slider-->

<% if false %>
<p><%= @page.content_for(:body).html_safe %></p>
<p><%= @page.content_for(:side_body).html_safe %></p>
<% end %>
