<table class="table table-hover">
  <thead>
    <th width="50%">话题</th>
    <th width="10%">分类</th>
    <th width="15%">作者</th>
    <th width="5%">回复</th>
    <th width="15%">最后回应</th>
    <th></th>
  </thead>

  <tbody>
    <% if topics.present? -%>
      <% topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.title, topic_path(topic) %></td>
        <td><%= topic.category %></td>
        <td><%= topic.author.try(:display_name) %></td>
        <td><%= topic.comments.count %></td>
        <td><%= topic.updated_at.strftime(t("time.formats.default")) %></td>
        <td>
          <div class="operations">
            <%= actions_on_object topic, current_user, true %>
          </div>
        </td>
      </tr>
      <% end -%>
    <% else -%>
      <tr>
        <td colspan="4"><%= t("helpers.no_results") %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
