<h1>论道</h1>

<div class="top-button-area clearfix">
  <%= link_to '发起话题', new_topic_path, :class => "btn btn-primary pull-right" %>
</div>

<div>
  <% if @topics.present? -%>
  <ul id="list">
    <% @topics.each do |topic| %>
      <li class="item-container">
        <ol class="title">
          <li class="name"><%= link_to topic.title, topic_path(topic) %></li>
          <li><%= topic.author.name %></li>
          <li><%= topic.created_at.strftime(t("date.formats.default")) %></li>
        </ol>
        <div class="clearfix"></div>

        <div class="content">
          <%= sanitize(topic.content) %>
        </div>
      </li>
    <% end -%>
  </ul>
  <% else -%>
    <%= t("helpers.no_results") %>
  <% end -%>
</div>
