<div class="topic-title">
  <h2><%= @topic.title %></h2>
  <span class="hint-text"><%= @topic.author.name %></span>
  发布于
  <span class="hint-text"><%= @topic.created_at.strftime(t("time.formats.default")) %></span>
</div>

<div class="well">
  <%= sanitize @topic.content %>
</div>

<div class="replies">
  <ul id="list">
    <% @topic.replies.each do |reply| %>
      <li class="reply-container">
        <ol class="title reply">
          <li class="hint-text author-name"><%= reply.author.name %></li>
          <li class="hint-text"><%= reply.created_at.strftime(t("time.formats.default")) %></li>
        </ol>
        <div class="clearfix"></div>

        <div class="content">
          <%= sanitize(reply.content) %>
        </div>
      </li>
    <% end -%>
  </ul>
</div>

<div class="new-reply">
  <%= render 'replies/form' %>
</div>

<%= link_to('编辑', edit_topic_path(@topic), :class => "btn btn-primary") if is_own_topic?(@topic) %>
