<%= form_for(@fine) do |f| %>
  <% if @fine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fine.errors.count, "error") %> prohibited this fine from being saved:</h2>

      <ul>
      <% @fine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend></legend>
    <%= f.hidden_field :user_id, :value => current_user.id %>

    <label><%= Fine.human_attribute_name("amount") %></label>
    <%= f.text_field :amount %>

    <label><%= Fine.human_attribute_name("date") %></label>
    <%= f.text_field :date, :class => "js-date-field" %>

    <label><%= Fine.human_attribute_name("reason") %></label>
    <%= f.text_area :reason, :rows => "3" %>

    <div class="checkbox">
      <label>
        <%= f.check_box :paid %>
        <%= Fine.human_attribute_name("paid") %>
      </label>
    </div>

    <br>
    <%= submit_tag "提交" %>
  </fieldset>
<% end %>
