<h1>Listing fines</h1>

<table>
  <tr>
    <th><%= User.human_attribute_name("sno") %></th>
    <th><%= Fine.human_attribute_name("amount") %></th>
    <th><%= Fine.human_attribute_name("date") %></th>
    <th></th>
  </tr>

<% @fines.each do |fine| %>
  <tr>
    <td><%= fine.user.sno %></td>
    <td><%= fine.amount %></td>
    <td><%= fine.date %></td>
    <td><%= link_to 'Show', fine %></td>
  </tr>
<% end %>
</table>
