<p id="notice"><%= notice %></p>

<label><%= Fine.human_attribute_name("amount") %></label>
<%= @fine.amount %>

<label><%= Fine.human_attribute_name("date") %></label>
<%= @fine.date.strftime(t("date.formats.default")) %>

<label><%= Fine.human_attribute_name("reason") %></label>
<%= @fine.reason %>

<label>
  <%= Fine.human_attribute_name("paid") %>
</label>
<%= I18n.t("notices.#{@fine.paid}") %>
<br>
<%= link_to '编辑', edit_fine_path(@fine), :class => "btn btn-primary" %>
