<div class="notification-trigger <%= category %>" data-toggle="modal" data-target="#<%= category %>">
  <%= t(trigger_text_key, count: content_tag(:span, notifications.count, class: "text-danger")) %>
</div>

<!-- Modal -->
<div class="modal fade notifications" id="<%= category %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= t(popup_title_key) %></h4>
      </div>
      <div class="modal-body">
        <% notifications.each do |notification| -%>
          <div class="notification">
            <h3><%= notification.updated_at.to_date %>&nbsp;<%= notification.name %></h3>
            <div>
              <%= sanitize notification.content -%>
            </div>
          </div>
        <% end -%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("helpers.close") %></button>
      </div>
    </div>
  </div>
</div>
