<h1>编辑 <%= @user.name %></h1>

<div class="two-columns users">
  <%= form_for(@user) do |f| %>
    <div class="left-column">
      <label>昵称</label>
      <p><%= f.text_field :name, :class => "form-control" %></p>

      <label>真实姓名</label>
      <p><%= f.text_field :real_name, :class => "form-control" %></p>

      <label>性别</label>
      <p><%= f.select :gender, User::GENDER %></p>

      <label>QQ</label>
      <p><%= f.text_field :qq %></p>

      <label>生日</label>
      <p><%= f.text_field :birth_date %></p>

      <label>电话</label>
      <p><%= f.text_field :tel_number %></p>

      <label>地址</label>
      <p><%= f.text_field :address %></p>

      <label>邮箱</label>
      <p><%= @user.email %></p>

      <label>兴趣爱好</label>
      <p><%= f.text_area :favorite, :class => "rich-editor" %></p>
    </div>

    <div class="right-column">
      <label>部门</label>
      <p><%= f.select :duty, User::DUTIES %></p>

      <label>可用服务时间</label>
      <p><%= f.text_field :available_time %></p>

      <label>教育经历</label>
      <p><%= f.text_area :education_experience, :class => "rich-editor" %></p>

      <label>工作经历</label>
      <p><%= f.text_area :work_experience, :class => "rich-editor" %></p>
    </div>

    <div class="clearfix"></div>

    <div class="comment">
      <label>备注</label>
      <p><%= f.text_area :note, :class => "rich-editor" %></p>
    </div>

    <%= submit_tag "提交", :class => "btn btn-primary" %>  <%= link_to '返回', users_path, :class => "btn btn-default" %>
  <% end -%>
</div>
