<h1>Listing users</h1>

<table>
  <tr>
    <th><%= User.human_attribute_name("sno") %></th>
    <th><%= User.human_attribute_name("email") %></th>
    <th><%= User.human_attribute_name("address") %></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.sno %></td>
    <td><%= user.email %></td>
    <td><%= user.address %></td>
    <td><%= link_to 'Show', user %></td>
  </tr>
<% end %>
</table>
