<h1>人员列表</h1>

<div class="highlight-block">
<%= form_tag(users_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table no-border">
    <%= text_field_tag :name, @options[:name], :placeholder => "昵称" %>
    <%= select_tag :role, options_from_collection_for_select(User::ROLES_MAP, "first", "last", @options[:role]), :prompt => "级别", :class => "js-select2 normal-width-select2" %>
    <%= submit_tag "搜索", :class => "btn btn-default" %>
  </div>
<% end -%>

<div class="tag-list">
  <% User::TAG_TYPES.each do |tag_type| %>
    <div class="tag-group">
      <label><%= tag_type_map[tag_type] %></label>
      <div class="tags">
        <% User.send("#{tag_type}_counts").each do |tag| %>
          <%= link_to tag.name, users_path(tag: tag.name), :class => (@options[:tag] == tag.name ? "tag selected" : "tag") %>
        <% end -%>
      </div>
    </div>
    <div class="clearfix clear"></div>
  <% end -%>
</div>
</div>

<div class="highlight-block with-top-margin">
  <table class="table table-hover">
    <tr>
      <th><%= User.human_attribute_name("grade") %></th>
      <th><%= User.human_attribute_name("department") %></th>
      <th><%= User.human_attribute_name("sno") %></th>
      <th><%= User.human_attribute_name("name") %>(点击可查看打卡)</th>
      <th><%= User.human_attribute_name("qq") %></th>
      <th>操作</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user_type(user) %></td>
        <td><%= user.department %></td>
        <td><%= user.sno %></td>
        <td><%= link_to_user_exercises user %></td>
        <td><%= user.qq %></td>

        <td>
            <%= link_to '查看', user %>
            <% if can? :manage, User -%>
              <%= add_tag_links(user) %>
              <%= link_to '编辑', edit_user_path(user) %>
              <%= link_to "重置密码", reset_password_user_path(user), method: :put, data: { confirm: I18n.t("helpers.are_you_sure") } -%>
            <% end -%>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate @users %>
