<h1><%= @user.name %></h1>

<div class="two-columns students">
  <%= form_for(@user) do |f| %>
    <div class="left-column">
      <label>昵称</label>
      <p><%= @user.name %></p>

      <label>真实姓名</label>
      <p><%= @user.real_name %></p>

      <label>性别</label>
      <p><%= @user.gender %></p>

      <label>QQ</label>
      <p><%= @user.qq %></p>

      <label>生日</label>
      <p><%= @user.birth_date %></p>

      <label>电话</label>
      <p><%= @user.tel_number %></p>

      <label>地址</label>
      <p><%= @user.address %></p>

      <label>邮箱</label>
      <p><%= @user.email %></p>

      <label>兴趣爱好</label>
      <p><%= @user.favorite %></p>
    </div>

    <div class="right-column">
      <label>部门</label>
      <p><%= @user.duty %></p>

      <label>可用服务时间</label>
      <p><%= @user.available_time %></p>

      <label>教育经历</label>
      <p><%= @user.education_experience %></p>

      <label>工作经历</label>
      <p><%= @user.work_experience %></p>

      <% User::TAG_TYPES.each do |tag_type| %>
        <label><%= tag_type_map[tag_type] %></label>
        <p><%= @user.send(tag_type.pluralize).map(&:name).join(", ") %></p>
      <% end -%>
    </div>

    <div class="clearfix"></div>

    <div class="comment">
      <label>备注</label>
      <p><%= @user.note %></p>
    </div>

    <%= link_to '返回', users_path, :class => "btn btn-default" %>
  <% end -%>
</div>
