<%= form_tag(mentor_leancloud_reports_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table">
    <%= text_field_tag :date, @date, :class => "js-date-field", :placeholder => "选择日期" %>
    <%= submit_tag "搜索", :class => "btn btn-default" %>
  </div>
<% end -%>

<div class="highlight-block">
  <h3><%= @date %> 所有学长回复日记总数</h3>
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>学长</th>
        <th><%= l @date, format: :short %></th>
      </tr>
    </thead>
    <tbody>
      <% @results.each do |result| -%>
        <tr>
          <% result.each do |record| -%>
            <td><%= record %></td>
          <% end -%>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>
