<h1>文档中心</h1>

<%= form_tag(documents_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table no-border">
    <div class="search">
      <%= text_field_tag :name, @options[:name], :placeholder => "名称" %>
      <%= submit_tag "搜索", :class => "btn btn-default" %>
    </div>

    <div class="js-submit-links">
      <%= hidden_field_tag :category, @options[:category] %>
      <%= link_to "全部", "javascript:;", :class => maybe_selected_class(nil, @options[:category], "btn btn-default", "btn btn-warning"), "data-target-name" => "category", "data-target-value" => "" %>

      <% Document::CATEGORIES.each_with_index do |category, i| -%>
        <%= link_to category, "javascript:;", :class => maybe_selected_class(category, @options[:category], "btn btn-default", "btn btn-warning"), "data-target-name" => "category", "data-target-value" => category %>
      <% end -%>
    </div>
  </div>

<% end -%>

<div>
  <% if @documents.present? -%>
    <table class="table table-hover">
      <% @documents.each do |document| %>
        <tr>
          <td><%= link_to document.name, document %></td>
          <td><%= document.category %></td>
        </tr>
      <% end %>
    </table>
  <% else -%>
    <div class="well no-result">
      <%= t("helpers.no_results") %>
    </div>
  <% end -%>
</div>
