<h1>文档中心</h1>

<%= form_tag(documents_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table no-border">
    <div class="radio">
      <label>
        <%= radio_button_tag :category, "", @options[:category].blank? %>
        全部
      </label>

      <% Document::CATEGORIES.each_with_index do |category, i| -%>
        <label>
          <%= radio_button_tag :category, category, @options[:category] == category %>
          <%= category %>
        </label>
      <% end -%>
    </div>

    <%= text_field_tag :name, @options[:name], :placeholder => "名称" %>
    <%= submit_tag "搜索", :class => "btn btn-default" %>
  </div>

<% end -%>

<div>
  <% if @documents.present? -%>
    <table class="table table-hover">
      <% @documents.each do |document| %>
        <tr>
          <td><%= link_to document.name, document %></td>
          <td><%= document.category %></td>
        </tr>
      <% end %>
    </table>
  <% else -%>
    <div class="well no-result">
      <%= t("helpers.no_results") %>
    </div>
  <% end -%>
</div>
