<p id="notice"><%= notice %></p>

<div class="document-view">
  <%= link_to '返回', documents_path %>
  <h2 class="title"><%= @document.name %></h2>

  <div class="document-content">
    <%= sanitize @document.content %>
  </div>

  <div class="document-comment">
    <ul id="list">
      <% @document.comments.each do |comment| %>
        <li class="reply-container">
          <ol class="title reply">
            <li class="hint-text author-name"><%= comment.author.name %></li>
            <li class="hint-text"><%= comment.created_at.strftime(t("time.formats.default")) %></li>
          </ol>
          <div class="clearfix"></div>

          <div class="content">
            <%= sanitize comment.content %>

            <div class="operations">
              <%= actions_on_object(comment, current_user) %>
            </div>
          </div>
        </li>
      <% end -%>
    </ul>

    <% if current_user -%>
      <%= render partial: "comments/form", locals: { rich_editor: true, has_title: true, ajax_form: false } %>
    <% end -%>
  </div>

</div>
