<p id="notice"><%= notice %></p>

<div class="document-view">
  <%= link_to '返回', documents_path %>
  <h2 class="title"><%= @document.name %></h2>

  <div class="document-content">
    <%= sanitize @document.content %>
  </div>

  <div class="document-comment">
    <ul id="list">
      <% @document.comments.each do |comment| %>
        <li class="reply-container">
          <ol class="title reply">
            <li class="hint-text author-name"><%= comment.author.name %></li>
            <li class="hint-text"><%= comment.created_at.strftime(t("time.formats.default")) %></li>
          </ol>
          <div class="clearfix"></div>

          <div class="content">
            <%= comment.content %>

            <%= actions_on_comment(comment, current_user) %>
          </div>
        </li>
      <% end -%>
    </ul>

    <div>
      <%= form_for(@comment, :role => "form") do |f| %>
        <fieldset>
          <%= f.hidden_field :commentable_id, :value => @comment.commentable.id %>
          <%= f.hidden_field :commentable_type, :value => @comment.commentable.class.name %>
          <%= f.hidden_field :replied_comment_id, :value => @comment.replied_comment_id %>

          <br>
          <%= f.text_area :content, :class => "full-width", :rows => "2", :placeholder => comment_place_holder(@comment) %>
          <br>
          <%= submit_tag t("helpers.submit") %>
        </fieldset>
      <% end -%>
    </div>
  </div>

</div>
