<h1>办公区</h1>

<div class="top-button-area clearfix">
  <%= link_to '发帖', new_post_path, :class => "btn btn-primary pull-right btn-lg" %>
</div>

<%= form_tag(posts_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table">
    <div class="search">
      <%= text_field_tag :name, @options[:name], :placeholder => "名称" %>
      <%= submit_tag "搜索", :class => "btn btn-default" %>
    </div>

    <div class="js-submit-links">
      <%= hidden_field_tag :category, @options[:category] %>
      <%= link_to "全部", "javascript:;", :class => maybe_selected_class(nil, @options[:category], "btn btn-default", "btn btn-warning"), "data-target-name" => "category", "data-target-value" => "" %>

      <% Post::CATEGORIES.each_with_index do |category, i| -%>
        <%= link_to category, "javascript:;", :class => maybe_selected_class(category, @options[:category], "btn btn-default", "btn btn-warning"), "data-target-name" => "category", "data-target-value" => category %>
      <% end -%>
    </div>
  </div>
<% end -%>

<div class="highlight-block">
  <% if @posts.present? -%>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>标题</th>
          <th>所属部门</th>
          <th>回复数</th>
          <th>创建时间</th>
          <th>最后回复</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.name, post %></td>
            <td><%= post.category %></td>
            <td><%= post.comments.count %></td>
            <td><%= post.created_at.strftime(t("time.formats.default")) %></td>
            <td><%= post.updated_at.strftime(t("time.formats.default")) %></td>
            <td>
              <div class="operations">
                <%= actions_on_object post, current_user %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else -%>
    <div class="well no-result">
      <%= t("helpers.no_results") %>
    </div>
  <% end -%>
</div>

<%= paginate @posts %>
