<div class="show">
  <p id="notice"><%= notice %></p>

  <p style="font-weight: bold"><%= @fund_exchange_activity.user.sno %></p>

  <div>
    <label><%= FundExchangeActivity.human_attribute_name("amount") %></label>
    <%= @fund_exchange_activity.amount %>
  </div>

  <div>
    <label><%= FundExchangeActivity.human_attribute_name("exchange_type") %></label>
    <%= @fund_exchange_activity.exchange_type %>
  </div>

  <div>
    <label><%= FundExchangeActivity.human_attribute_name("place") %></label>
    <%= @fund_exchange_activity.place %>
  </div>

  <div>
    <label><%= FundExchangeActivity.human_attribute_name("trading_way") %></label>
    <%= @fund_exchange_activity.trading_way %>
  </div>

  <div>
    <label><%= FundExchangeActivity.human_attribute_name("usage") %></label>
    <%= @fund_exchange_activity.usage %>
  </div>

  <div>
    <label><%= FundExchangeActivity.human_attribute_name("comment") %></label>
    <%= @fund_exchange_activity.comment %>
  </div>
  <br>

  <%= link_to 'Back', fund_exchange_activities_path %>
</div>
