<ul id="list">
  <% exercises.each do |exercise| %>
    <% next unless visible_exercise?(exercise) -%>
    <li class="item-container" id=<%= "exercise-#{exercise.id}" %>>
      <ol class="title">

        <% if exercise.ask_for_comment? -%>
        <li>
          <%= content_tag(:i, nil, :class => "icon-comments text-success") %>
        </li>
        <% end -%>

        <li class="name">
          <%= link_to exercise.task.try(:name), exercise_path(exercise) %>
          <% if exercise.quick_logged? -%>
            <span class="label label-success">快速日记</span>
          <% end -%>
        </li>

        <% if current_user -%>
          <li><%= like_widget(current_user, exercise) %></li>
          <li><%= link_to t("helpers.comment"), new_comment_path(resource_id: exercise.id, resource_name: "exercise"), remote: true unless exercise.quick_logged? %></li>
        <% end -%>

        <li class="hint-text"><%= link_to_user_exercises exercise.user %></li>
        <li class="hint-text"><%= exercise.date.strftime(t("date.formats.default")) %></li>
      </ol>
      <div class="clearfix"></div>

      <div class="content">
        <%= sanitize exercise.content %>
      </div>

      <div id=<%= "comments-of-#{exercise.id}" %>>
        <%= render :partial => "exercises/comments", :locals => {:exercise => exercise} if exercise.comments.present? %>
      </div>
      <div id=<%= "new-comment-for-#{exercise.id}" %>></div>
      <div id=<%= "new-comment-for-#{exercise.id}-errors" %> class="text-danger"></div>
    </li>
  <% end -%>
</ul>
