<div class="alert alert-warning">
  <%= t("notices.quick_log_exercise") %>
</div>

<table class="table table-hover has-inline-form">
  <thead>
    <tr>
      <th>功课名称</th>
      <th>快速完成</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% if unsigned_tasks.present? -%>
      <% separated_tasks = separate_tasks_by_required(unsigned_tasks) -%>
      <% separated_tasks.each_with_index do |task_group, i| -%>
        <% task_group.each do |task| -%>
          <tr>
            <td><%= link_to(task.name, new_exercise_path(:date => date, :task_id => task.id)) %></td>

            <td>
              <%= form_for(Exercise.new, :html => {:id => nil, :class => "form-in-table"}) do |f| %>
                <%= f.hidden_field :task_id, :value => task.id %>
                <%= f.hidden_field :date, :value => date %>

                <%= submit_tag("完成", :class => "btn btn-success") %>
              <% end -%>
            </td>

            <td><%= link_to("日记", new_exercise_path(:date => date, :task_id => task.id), class: "task-#{task.id}") %></td>
          </tr>
        <% end -%>

        <% if i == 0 && separated_tasks[1].present? # display label after required tasks are rendered -%>
          <tr class="warning">
            <td colspan="3"><span class="label label-success">选修</span></td>
          </tr>
        <% end -%>
      <% end -%>
    <% else -%>
      <tr>
        <td colspan="3">
          <div class="alert alert-success">
            <%= I18n.t("notices.good_job") %>
          </div>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
