<h1>最新打卡</h1>

<%= form_tag(exercises_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table">
    <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "name", @user_id), :prompt => "昵称" %>
    <%= select_tag :task_id, options_from_collection_for_select(Task.all, "id", "name", @task_id), :prompt => "功课" %>
    <%= text_field_tag :date, @date, :class => "js-date-field", :placeholder => "日期" %>
    <%= submit_tag "搜索", :class => "btn btn-default" %>
  </div>
<% end -%>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Task.human_attribute_name("name") %></th>
      <th><%= Exercise.human_attribute_name("date") %></th>
      <th><%= Exercise.human_attribute_name("content") %></th>
      <th><%= User.human_attribute_name("name") %></th>
      <th><%= Comment.model_name.human %></th>
    </tr>
  </thead>
  <tbody>
    <% if @exercises.present? -%>
      <% @exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.task.name %></td>
          <td><%= exercise.date.strftime(t("date.formats.default")) %></td>
          <td>
            <div class="content">
              <%= exercise.content %>
            </div>
          </td>
          <td><%= exercise.user.name %></td>
          <td><%= link_to t("helpers.comment"), new_comment_path(:exercise_id => exercise.id) %></td>
        </tr>

        <%= render :partial => "comments", :locals => {:exercise => exercise} if exercise.comments.present? %>

      <% end %>
    <% else -%>
      <tr>
        <td colpan="4"><%= t("helpers.no_results") %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
