<h1>最新打卡</h1>

<%= form_tag(exercises_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table">
    <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "name", @options[:user_id]), :prompt => "昵称", :class => "js-select2 normal-width-select2" %>
    <%= select_tag :task_id, options_from_collection_for_select(Task.all, "id", "name", @options[:task_id]), :prompt => "功课", :class => "js-select2 normal-width-select2" %>
    <%= text_field_tag :from, @options[:from], :class => "js-date-field", :placeholder => "起始日期" %>
    <%= text_field_tag :to, @options[:to], :class => "js-date-field", :placeholder => "结束日期" %>
    <%= hidden_field_tag :order, @options[:order] %>
    <%= submit_tag "搜索", :class => "btn btn-default" %>
  </div>

  <div>
    <div id="quick-search-conditions">
      <%= quick_date_select_buttons @options %>
      <%= order_buttons @options %>
    </div>

    <% if @exercises.present? -%>
    <ul id="list">
      <% @exercises.each do |exercise| %>
        <li class="item-container">
          <ol class="title">
            <li class="name">
              <%= exercise.task.try(:name) %>
              <% if exercise.quick_logged? -%>
                <span class="label label-success">快速打卡</span>
              <% end -%>
            </li>
            <li class="hint-text"><%= exercise.user.name %></li>
            <li class="hint-text"><%= exercise.date.strftime(t("date.formats.default")) %></li>
            <li>
              <%= like_widget(current_user, exercise) %>
            </li>
            <li><%= link_to t("helpers.comment"), new_comment_path(:exercise_id => exercise.id) unless exercise.quick_logged? %></li>
          </ol>
          <div class="clearfix"></div>

          <div class="content">
            <%= exercise.content %>
          </div>

          <%= render :partial => "comments", :locals => {:exercise => exercise} if exercise.comments.present? %>
        </li>
      <% end -%>
    </ul>
    <% else -%>
      <div class="well no-result">
        <%= t("helpers.no_results") %>
      </div>
    <% end -%>
  </div>
<% end -%>
