<h1>最新打卡</h1>

<%= form_tag(exercises_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table">
    <%= select_tag :user_id, options_from_collection_for_select(User.all, "id", "name", @user_id), :prompt => "昵称" %>
    <%= select_tag :task_id, options_from_collection_for_select(Task.all, "id", "name", @task_id), :prompt => "功课" %>
    <%= text_field_tag :date, @date, :class => "js-date-field", :placeholder => "日期" %>
    <%= submit_tag "搜索", :class => "btn btn-default" %>
  </div>
<% end -%>

<table class="table">
  <tr>
    <th><%= Task.human_attribute_name("name") %></th>
    <th><%= Exercise.human_attribute_name("date") %></th>
    <th><%= Exercise.human_attribute_name("content") %></th>
    <th><%= User.human_attribute_name("name") %></th>
  </tr>

<% if @exercises.present? -%>
  <% @exercises.each do |exercise| %>
    <tr>
      <td><%= exercise.task.name %></td>
      <td><%= exercise.date %></td>
      <td><%= exercise.content %></td>
      <td><%= exercise.user.name %></td>
    </tr>
  <% end %>
<% else -%>
  <tr>
    <td colpan="4"><%= t("helpers.no_results") %></td>
  </tr>
<% end -%>
</table>
