<%= self_study_notice(current_user) -%>

<div class="alert alert-warning">
  <%= I18n.t("notices.religion_notice") %>
</div>

<div class="tab">
  <ul class="nav-pills nav">
    <li role="navigation" class="active">
      <a href="#content-1" data-toggle="tab"><%= "所有日记" %></a>
    </li>
    <% if user_signed_in? -%>
      <li role="navigation">
        <a href="#content-2" data-toggle="tab" class="write-exercise">写日记</a>
      </li>
      <li role="navigation">
        <a href="#content-3" data-toggle="tab"><%= "我的功课" %></a>
      </li>
      <li role="navigation">
        <a href="#content-4" data-toggle="tab"><%= "我的日记" %></a>
      </li>
    <% end -%>
  </ul>

  <div class="tab-content with-margin">
    <div id="content-1" class="tab-pane active">
      <%= render :partial => "exercises/all_exercises" %>
    </div>

    <% if user_signed_in? -%>
      <div id="content-2" class="tab-pane highlight-block">
        <%= render :partial => "exercises/unsigned_tasks", :locals => { :unsigned_tasks => unsigned_tasks_at(Date.current), :date => Date.current } %>
      </div>

      <div id="content-3" class="tab-pane highlight-block">
        <%= render :partial => "users/my_tasks" %>
      </div>

      <div id="content-4" class="tab-pane highlight-block">
        <%= render :partial => "exercises/my_exercises" %>
      </div>
    <% end -%>
  </div>
</div>
