<h2>查卡大厅</h2>

<%= form_tag(unfinished_exercises_path, :method => :get, :class => "form-inline", :role => "form") do %>
  <div class="searchfield-above-table">
    <%= select_tag :task_id, options_from_collection_for_select(Task.all, "id", "name", @task), :prompt => "功课", :class => "js-select2 normal-width-select2" %>
    <%= text_field_tag :start_date, @start_date, :class => "js-date-field", :placeholder => "开始日期" %>
    <%= text_field_tag :end_date, @end_date, :class => "js-date-field", :placeholder => "结束日期" %>
    <%= submit_tag "搜索", :class => "btn btn-default" %>
  </div>
<% end -%>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= unfinished_title %> 未完成人员名单 </th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>
          <% if @unfinished_user_list -%>
            <%= @unfinished_user_list.map(&:name).join(", ") %>
          <% else -%>
            <%= t("helpers.no_results") %>
          <% end -%>
        </td>
      </tr>
  </tbody>
</table>

