<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="baidu-site-verification" content="0vE5JI9rFz" />
    <title><%= content_for?(:title) ? yield(:title) : brand_name %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to brand_name, root_path, :class => "brand" %>
          <div class="container nav-collapse">
            <ul class="nav">
                <li class=<%= "selected" if controller?("home") %>><%= link_to t("menus.homepage"), root_path %></li>

                <li class=<%= "selected" if controller?("exercises") %>><%= link_to t("menus.exercises"), exercises_path %></li>

                <li class=<%= "selected" if controller?("topics") %>><%= link_to t("menus.topics"), topics_path %></li>

                <li class=<%= "selected" if controller?("tasks") %>><%= link_to t("menus.homework"), tasks_path %></li>

                <% if current_user.try(:generalized_mentor?) -%>
                <li class="dropdown" role="presentation">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">学长专区<span class="caret"></span></a>

                  <ul class="dropdown-menu">
                    <% if can? :read, Post -%>
                      <li><%= link_to '办公区', posts_path %></li>
                    <% end -%>

                    <% if can? :read, User -%>
                      <li><%= link_to '人员资料库', users_path %></li>
                    <% end -%>

                    <% if can? :unfinished, Exercise -%>
                      <li><%= link_to '查卡', unfinished_exercises_path %></li>
                    <% end -%>

                    <% if can? :manage, Notification -%>
                      <li><%= link_to '通知管理', notifications_path %></li>
                    <% end -%>
                  </ul>
                </li>
                <% end -%>
            </ul>

            <ul class="nav pull-right">
              <% if user_signed_in? -%>
                <li><%= link_to "欢迎你 #{current_user.name || current_user.email}", root_path %></li>
                <li>
                  <%= link_to received_comment_text.html_safe, comments_path %>
                </li>
                <li><%= link_to "修改密码", change_password_user_path(current_user) %></li>
                <li><%= link_to t("helpers.logout"), destroy_user_session_path, :method => :delete %></li>
              <% else -%>
                <li><%= link_to "注册", new_user_registration_path %></li>
                <li><%= link_to "登录", new_user_session_path %></li>
              <% end -%>
            </ul>
          </div><!--/.nav-collapse -->

        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <p>&copy; 麦田男孩</p>
      </footer>
    </div> <!-- /container -->

    <%= render "layouts/shared/notifications" %>
    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= render "layouts/shared/javascripts" %>

  </body>
</html>
