<!DOCTYPE html>
<html>
  <head>
    <title>TAO</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
    <body>
        <div class="main">
            <div class="header">
              <p><%= flash[:notice] %></p>
              <p><%= flash[:alert] %></p>
            </div>
            <div class="body">
                <%= yield %>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
