<!DOCTYPE html>
<html>
  <head>
    <title>TAO</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <%= yield :head %>
  </head>
    <body>
        <div class="main">
            <div class="header">
              大中医　文档管理系统　DEMO
              <div>Login as <%= current_user.try(:email) %></div>
              <p><%= flash[:notice] %></p>
              <p><%= flash[:alert] %></p>

              <%= link_to '收支明细', fund_exchange_activities_path %>
              <%= link_to '用户', users_path %>
              <%= link_to '罚款', fines_path %>
              <%= link_to '文档', documents_path %>
            </div>
            <div class="body">
                <%= yield %>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
